.inputStyle {
  width: 32px !important;
  height: 32px;
  margin: 0 1rem;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto !important;
  right: 0;
  margin-top: var(--bs-dropdown-spacer);
}
